@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

$primary: #585858;
$link: #0073ae;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: $primary;
  position: relative;
  padding-top: 200px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}

.card {
  width: 30%;
  padding: 15px 25px 25px;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  &:last-of-type {
    border-right: none;
  }
  &__img {
    display: flex;
    height: 62px;
    img {
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 30px 0 14px;
  }
  &__text {
    font-size: 0.75rem;
    line-height: 1.5;
    min-height: 90px;
  }
  &__link {
    display: block;
    margin-top: 15px;
    font-size: 0.875rem;
    font-weight: 700;
    color: $link;
    text-decoration: none;
    cursor: pointer;
  }
}

.popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  &.visible {
    display: flex;
  }
  &__video {
    position: relative;
    order: 1;
    width: 640px;
    height: 320px;
    background-color: #fff;
  }
  &__close {
    position: relative;
    left: 320px;
    transform: translateX(-50%);
    width: 13px;
    height: 13px;
    cursor: pointer;
    &::after,
    &::before {
      content: '';
      width: 13px;
      height: 3px;
      background-color: $white;
      position: absolute;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
    &:hover::after::before {
      color: darken($color: $white, $amount: 30);
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
  .card {
    border-right: none;
    width: 80%;
  }
}
@media (max-width: 640px) {
  .popup__video {
    width: 100%;
  }
}
